.Rproj.user
.Rhistory
.RData
.Ruserdata
**/data/
**/Rproj.user/
**/Rhistory/
**/tables/
**/graphs/
.DS_Store
**/.DS_Store/
.Rproj.user/shared/notebooks/paths
.Rhistory
.DS_Store
.Rhistory
.Rproj.user/shared/notebooks/paths
.DS_Store
Icon
